# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

<%
 require Rails.root.join('app/helpers/application_helper')
%>


setCountItems = (quantity)->
  data_count = $('label#basket').attr('data-count')
  quantity = +quantity
  data_count_sum = +data_count + quantity
  $('label#basket').attr('data-count', data_count_sum)

$(document).ready ->

#   ordering products
  $('ul#status-ico-wrap li').click ->
    current_position = $(this).index()
    $head_tabs = $(this).closest('ul#status-ico-wrap')
    $head_tabs_li = $head_tabs.find('li')
    $head_tabs_li.removeClass('active')
    $(this).addClass('active')

    $body_tabs_li = $('ul#status-tabs-wrap').find('li')

    $body_tabs_li.removeClass('active').addClass('hide')
    $body_tabs_li.eq(current_position).addClass('active').removeClass('hide')

#   changed for select
  $('.ordering_wrap select').change ->
    changeValue = $(this).val()
    if changeValue == "Ukraine"
      if $('.new-post-wrap').hasClass('hide')
        $('.new-post-wrap').removeClass('hide')
    if changeValue == "Lviv"
      if $('.new-post-wrap').hasClass('hide')
      else
        $('.new-post-wrap').addClass('hide')

    if changeValue == "Приват банк" || changeValue == "По перерахунку"
      if $('.requisites-wrap').hasClass('hide')
        $('.requisites-wrap').removeClass('hide')
    if changeValue == "at_reception"
      if $('.requisites-wrap').hasClass('hide')
      else
        $('.requisites-wrap').addClass('hide')


  $("cart_count_product span").click ->
    $("a#link-to-ordering-product").attr "disabled", "disabled"
    $("a#link-to-ordering-product").css "background-color", "silver"
    return

  $("#b2").click ->
    $("a#link-to-ordering-product").removeAttr "disabled"
    $("a#link-to-ordering-product").css "background-color", "white"
    return

  $("a#link-to-ordering-product").click (e) ->
    e.preventDefault()  if $("a#link-to-ordering-product").attr("disabled") is "disabled"
    return



#   steps by ordering
  currentHeaderTitle = $('.ordering_wrap .page-header-wrap h2').text()
  $('.steps-buttons').click ->
    insertHeaderTitle = "Підтвердження замовлення"
    headerTitle = $('.ordering_wrap .page-header-wrap h2')
    prevStatusPage = $('li#ordering-prev-step')
    nextStatusPage = $('li#ordering-next-step')

#    input fields
    ofName = $('input#of-name').val()
    ofSurName = $('input#of-surname').val()
    ofPhone = $('input#of-phone-number').val()
    ofEmail = $('input#of-email').val()
    ofAddress = $('input#of-address').val()
    ofComment = $('textarea#of-comment').val()

#    new post address
    ofMethodOfDelivery = $('select#method-delivery option:selected').val()
    ofCity = $('input#of-city').val()
    ofDepartment = $('input#of-department').val()

    ofMethodOfPayment = $('select#method-of-payment option:selected').val()

#    initials fields
    ofNameI = $('#of-name-initial')
    ofSurNameI = $('#of-surname-initial')
    ofPhoneI = $('#of-phone-initial')
    ofEmailI = $('#of-email-initial')
    ofAddressI = $('#of-address-initial')
    ofCommentI = $('#of-comment-initial')

    ofMethodOfDeliveryI = $('#method-delivery-initial')
    ofCityI = $('#of-city-initial')
    ofDepartmentI = $('#of-department-initial')

    ofMethodOfPaymentI = $('#of-method-payment-initial')

    if $(this).hasClass('next-step-ordering')
      ofNameI.text(ofName)
      ofSurNameI.text(ofSurName)
      ofPhoneI.text(ofPhone)
      ofEmailI.text(ofEmail)
      ofAddressI.text(ofAddress)
      ofCommentI.text(ofComment)

      ofMethodOfDeliveryI.text(ofMethodOfDelivery)
      ofCityI.text(ofCity)
      ofDepartmentI.text(ofDepartment)

      ofMethodOfPaymentI.text(ofMethodOfPayment)
      if nextStatusPage.hasClass('hide')
        prevStatusPage.addClass('hide')
        nextStatusPage.removeClass('hide')
        headerTitle.text(insertHeaderTitle)
    else if $(this).hasClass('prev-step-ordering')
      if prevStatusPage.hasClass('hide')
        nextStatusPage.addClass('hide')
        prevStatusPage.removeClass('hide')
        headerTitle.text(currentHeaderTitle)


#  change quantity in basket
countProductsCart = 0
$(document).on "click", '.quantity_control', ->
  parentElement = $(this).closest('.quantity_wrap')
  lineItem = parentElement.attr("data-line-item-id")
  productId = parentElement.attr("data-id")
  findedElement = parentElement.find('input.quantity').val()
  MainBasketCount = $("label#basket")
  MainBasketCountValue = MainBasketCount.attr("data-count")
  BasketCount = $(".modal_cart_wrap .count_product").attr("data-count")
  DataType = ""

  if $(this).hasClass('quantity_plus')
    findedElement = +findedElement + 1
    MainBasketCountValue = + MainBasketCountValue + 1
    MainBasketCount.attr("data-count", MainBasketCountValue)
    parentElement.find('input.quantity').val(findedElement)

  else if $(this).hasClass('quantity_minus') && findedElement >1
    findedElement = +findedElement - 1
    MainBasketCountValue = + MainBasketCountValue - 1
    MainBasketCount.attr("data-count", MainBasketCountValue)
    parentElement.find('input.quantity').val(findedElement)

  WebServiceUrl = "/line_items/"+lineItem
  DataToSend = new Object()
  if parentElement.attr("data-product-type") == "tablecloth"
    DataToSend =
      product_id: productId
      quantity: findedElement
  else if parentElement.attr("data-product-type") == "decor"
    DataToSend =
      decor_id: productId
      decor_quantity: findedElement
  else if parentElement.attr("data-product-type") == "drink_set"
    DataToSend =
      drink_set_id: productId
      drink_set_quantity: findedElement

  #Call jQuery ajax
  $.ajax
    type: "PUT"
    contentType: "application/json; charset=utf-8"
    url: WebServiceUrl
    data: JSON.stringify(DataToSend)
    dataType: "json"
    success: (msg) ->
        loadPartials()
    error: (err) ->
        alert "Error"


#   active link if count products after 0
$(document).on "ready click", 'a#link-to-ordering-product',() ->
  countproductsInBasket = $('ul.cart_items_list li').size()
  if countproductsInBasket == 0
    return false
  else
    return true

#  delete line item from cart
$(document).on "click", '.delete-item', ->
  ProductsPack = $("ul.cart-product-packs li").size()
  Products = $("ul.cart_items_list li").size()
  SumProducts = ProductsPack + Products

  attrRenderID = $(this).attr('data-line-item-id')
  $.ajax
    url: '/line_items/'+attrRenderID
    dataType: 'html'
    type: "DELETE"
    beforeSend: ->
    success: (data) ->
    complete: ->
      loadPartials()
      if SumProducts == 1
        $("label#basket").attr("data-count", 0)

# add product to cart
$(document).on "click", '#form_add_to_cart button.order-product-link-wrap', ->

  products_wrap = $(@).closest('.product-detail')
  str_adding = products_wrap.attr "data-adding"
  str_product_is = products_wrap.attr "data-product-is"
  str_view = products_wrap.attr "data-view"

  $currentElement = $(this)
  parent = $(this).closest('form')
  count = parent.find("input.count_product").val()

  attrRenderID = $(this).attr('data-product-id')
  itemToRemove = parent.find('.quantity-items-wrap')
  removedItems = itemToRemove
  itemToAdd = $(this).parent()
  undoElement = $(this).parent().html()

  if $currentElement.hasClass("is-drink-set")
    valuesToSubmit = {drink_set_id: attrRenderID, ds_quantity: count}
  else if $currentElement.hasClass("is-decor")
    valuesToSubmit = {decor_id: attrRenderID, d_quantity: count}
  else if $currentElement.hasClass("is-tablecloth")
    valuesToSubmit = {product_id: attrRenderID, quantity: count}

  $.ajax
    url: '/line_items'
    dataType: 'html'
    type: "POST"
    data: valuesToSubmit
    beforeSend: ->
      if itemToRemove.hasClass('quantity-items-wrap')
        itemToRemove.css('display','none')
      if itemToAdd.hasClass('not-product-pack')
        itemToAdd.children().remove()
        itemToAdd.append('<div class="input_send"><div class="status-adding">'+str_adding+'</div></div>')
    success: (data) ->
      if itemToAdd.hasClass('not-product-pack')
        itemToAdd.children().remove()
        itemToAdd.append('<div class="status-adding">'+str_product_is+'</div>')
        $('<label class="one-product-anchor-to-cart temp-label-for-bascket" for="modal_cart" id="basket">'+str_view+'</label>').insertAfter(itemToAdd)
        setCountItems(count)
        loadPartials()

    complete: ->
      setTimeout (->
        itemToRemove.css('display','block')
        itemToAdd.html(undoElement)
        $('label.temp-label-for-bascket').remove()
        # Do something after 5 seconds
      ), 3000


# add product pack items to cart
$(document).on "click", '.pd_product_pack_wrap button.order-products-collection-link-wrap', ->
  statuButton = $(this).parent()
  $product_id = ""
  $product_quantity = ""
  $parent = $(this).closest('.pd_product_pack_wrap')
  undoElement = $(this).parent().html()
  $lis = $parent.find('.ppi_item_wrap')

  $produck_pack_id = $(this).attr 'data-product-pack-id'

  $tablecloth = $lis.filter('.pp-tablecloth-buy')
  $tableclothData = $tablecloth.attr 'data-product-id'
  $dirnkSet = $lis.filter('.pp-drink-set-buy')
  $drinkSetParent = $dirnkSet.parent().filter('.active')
  $drinkSetData = $drinkSetParent.children().attr 'data-product-id'
  if $dirnkSet.hasClass('one-item')
    $drinkSetData = $dirnkSet.attr 'data-product-id'

  $decors = $lis.filter('.pp-decor-buy')
  $decorsParent = $decors.parent().filter('.active')
  $decorsData = $decorsParent.children().attr 'data-product-id'
  if $decors.hasClass('one-item')
    $decorsData = $decors.attr 'data-product-id'

  valuesToSubmit = {product_id: $product_id, quantity: $product_quantity, product_pack_id: $produck_pack_id, p_drink_set_id: $drinkSetData, p_tablecloth_id:$tableclothData, p_decor_id: $decorsData}

  $.ajax
    url: '/line_items'
    dataType: 'html'
    type: "POST"
    data: valuesToSubmit
    beforeSend: ->
      statuButton.children().remove()
      statuButton.addClass('change-width')
      statuButton.append('<div class="status-adding">Добавляння...</div>')
    success: (data) ->
      statuButton.children().remove()
      statuButton.append('<div class="status-adding">КОМПЛЕКТ ВЖЕ В КОШИКУ!</div>')
      setCountItems(3)
      loadPartials()
    complete: ->
      setTimeout (->
        statuButton.removeClass('change-width')
        statuButton.html(undoElement)
        # Do something after 5 seconds
      ), 3000

$(document).on "click", 'label#basket', ->
  countproductsInBasket = $('ul.cart_items_list li').size()
  if countproductsInBasket == 0
  else if countproductsInBasket >= 1
    if $(".ci_next_step").hasClass('passive-link')
      $(".ci_next_step").removeClass('passive-link')

