# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.coffee.
# You can use CoffeeScript in this file: http://coffeescript.org/

$(document).ready ->
# =====================================================  louver doors prev image and set attr
    $(".product_detail_wrap ul#product_gallery_images li a").click (event)->
        event.preventDefault()
        mainImage = $(this).attr("href") #Find Image Name
        $(".product_detail_wrap .link_to_prev .bi").css('background',"url("+mainImage+")no-repeat center center")
        $(".product_detail_wrap .link_to_prev .bi").parent().attr href: mainImage
    $('.fancybox').fancybox
        helpers:
            overlay:
                locked: true
    $("a.fancy_gallery").fancybox
        padding: 0
        width: '100%'
        closeBtn : false
        prevEffect: "none"
        nextEffect: "none"
        helpers:
            title:
                type: "outside"

            thumbs:
                width: 75
                height: 50
        tpl:
            wrap: "<div id=\"gallery_wrapper\" class=\"fancybox-wrap mywrap\" tabIndex=\"-1\"><div class=\"fancybox-skin\"><div class=\"fancybox-outer\"><div class=\"fancybox-inner\"></div><a class=\"close_fancybox_gallery\" onclick=\"$.fancybox.close()\"><svg version=\"1.1\" id=\"Layer_1\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0px\" y=\"0px\"
            width=\"14.85px\" height=\"14.849px\" viewBox=\"0 0 14.85 14.849\" enable-background=\"new 0 0 14.85 14.849\" xml:space=\"preserve\">
            <polygon fill=\"#D1D3D4\" points=\"14.85,0.707 14.143,0 7.425,6.718 0.707,0 0,0.707 6.718,7.425 0,14.142 0.707,14.849 7.425,8.132
                14.143,14.849 14.85,14.142 8.132,7.425 \"/>
            </svg></a></div></div></div>"
    $("a.fncy-custom-close").click (e) ->
        e.preventDefault()
        $.fancybox.close()



    $('.block-inner').click ->
        if $(this).parent().hasClass('expand')
            $(this).parent().removeClass('expand')
        else
            $('.product-block').removeClass('expand')
            $(this).parent().addClass('expand')

    $('a.close-detail').click (e) ->
        e.preventDefault()
        $('.product-block').removeClass('expand')
    count_product = +$('form#form_add_to_cart input.count_product').val()
    $('a.add_one_point').click ->
        count_product+=1
        $('form#form_add_to_cart input.count_product').val(count_product)
    $('a.remove_one_point').click ->
        if count_product > 1
            count_product-=1
            $('form#form_add_to_cart input.count_product').val(count_product)

  menuIsOpen = false
  $("label#main_menu_button").click ->
    toggleMenu()

  toggleMenu = ->
    if menuIsOpen
      closeMenu()
    else
      openMenu()

  openMenu = ->
    menuIsOpen = true
    $('html').css({'overflow':'hidden'})


  closeMenu = ->
    menuIsOpen = false
    $('html').css({'overflow':'visible'})



  owl1 = $("ul#promotion_slider")
  owl1.owlCarousel
    pagination: false,
    navigation: true,
    navigationText: [
      '<%= ApplicationHelper.embedded_svg_js "MO-arrow.svg", class: "owl_arrow_prev"%>',
      '<%= ApplicationHelper.embedded_svg_js "MO-arrow.svg", class: "owl_arrow_next"%>'
    ],
    items: 4 #10 items above 1000px browser width
    itemsDesktop: [ #5 items between 1000px and 901px
      1000
      3
    ]
    itemsDesktopSmall: [ # betweem 900px and 601px
      900
      2
    ]
    itemsTablet: [ #2 items between 600 and 0
      780
      2
    ]
    itemsMobile: false # itemsMobile disabled - inherit from itemsTablet option
    autoPlay : false
  owl2 = $("ul#product_gallery_images")
  owl2.owlCarousel()


